<div class="bs-docs-section">
    <div *ngIf="!client" class="col-lg-4 col-lg-offset-1" >
        <h2>
            <strong>Добавяне на задача</strong>
            <span class="badge" data-toggle="tooltip" data-placement="top" title="Името на задачата трябва да бъде между 2 и 90 символа. Продължителността може да бъде с часове между 0-24 и минути 0-59. Коментарът не е задължителен.">?</span>
        </h2>
        <task-form [projectId]="projectId" (newTaskAdded)="getProjectTasks()"></task-form>
    </div>
    <div [ngClass]="client ? 'col-lg-offset-1 col-lg-10' : 'col-lg-6'">
        <h2>
            <strong>Задачи:</strong>
        </h2>
        <div class="well">
            <strong>Сортирай по година:</strong>
            <input list="years" [value]="yearFilter" (input)="yearFilter = $event.target.value" class="form-control2"/>
            <datalist id="years">
                <option *ngFor="let year of years" value={{year}}>
            </datalist>
            <strong>Сортирай по месец:</strong>
            <input list="months" [value]="monthFilter" (input)="monthFilter = $event.target.value" class="form-control2"/>
            <datalist id="months">
                <option *ngFor="let month of months" value={{month+1}}></option>
            </datalist>
            <strong>Сортирай по ден:</strong>
            <input list="days" [value]="dayFilter" (input)="dayFilter = $event.target.value" class="form-control2"/>
            <datalist id="days">
                <option *ngFor="let day of days" value={{day}}></option>
            </datalist>
        </div>
        <ul class="list-group">
            <li *ngFor="let task of tasks | YearPipe:yearFilter | MonthPipe:monthFilter | DayPipe:dayFilter" class="list-group-item">
                <task [task]="task" (taskDeleted)="getProjectTasks()"></task>
            </li>
        </ul>
    </div>
</div>
