<div class="bs-docs-section">
    <div class="col-lg-4 col-lg-offset-1">
        <h2>
            <strong>Добавяне на задача</strong>
            <span class="badge" data-toggle="tooltip" data-placement="top" title="Името на задачата трябва да бъде между 2 и 90 символа. Продължителността може да бъде с часове между 0-24 и минути 0-59. Коментарът не е задължителен.">?</span>
        </h2>
        <task-form [projectId]="projectId" (newTaskAdded)="getProjectTasks()"></task-form>
    </div>
    <div class="col-lg-6">
        <h2>
            <strong>Задачи:</strong>
        </h2>
        <div class="form-group">
            <br>Сортирай по година:
            <input list="years" [value]="yearFilter" (input)="yearFilter = $event.target.value" />
            <datalist id="years">
                <option *ngFor="let year of years" value={{year}}>
            </datalist>
            <br>Сортирай по месец:
            <input list="months" [value]="monthFilter" (input)="monthFilter = $event.target.value" />
            <datalist id="months">
                <option *ngFor="let month of months" value={{month+1}}></option>
            </datalist>
        </div>
        <ul class="list-group">
            <li *ngFor="let task of tasks | YearPipe:yearFilter | MonthPipe:monthFilter" class="list-group-item">
                <task [task]="task" (taskDeleted)="getProjectTasks()"></task>
            </li>
        </ul>
    </div>
</div>