<div id="projectForm" class="well">
    <form #newProject=ngForm class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-1">
                    <input type="text" name="name" [(ngModel)]="projectToBeCreated.name" placeholder="Enter project name" class="form-control" minlength="2" maxlength="90" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-1">
                    <input type="button" [disabled]="!newProject.valid" (click)="addProject()" value="Add project" class="btn btn-primary">
                </div>
            </div>
        </fieldset>
    </form>
</div>