<div class="bs-docs-section">
    <div class="col-lg-4 col-lg-offset-1">
        <h2>
            <strong>Create new project</strong>
            <span class="badge" data-toggle="tooltip" data-placement="top" title="Project name must be between 2 and 90 symbols">?</span>
        </h2>
        <project-form (newProjectAdded)="getAllProjects()"></project-form>
    </div>
    <div class="col-lg-6">
        <h2>
            <strong>Choose your project:</strong>
        </h2>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1></h1>
            </div>
            <div class="panel-body">
                <project-button *ngFor="let project of projects" [project]="project"></project-button>
            </div>
        </div>
    </div>
</div>