.loginBtn {
    position: absolute;
    top:30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%);
    box-sizing: border-box;
    padding: 0 15px 0 46px;
    border: none;
    line-height: 68px;
    white-space: nowrap;
    border-radius: 0.4em;
    font-size: 28px;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 24px no-repeat #e95420;
}

.loginBtn:hover,
.loginBtn:focus {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 24px no-repeat #BB3F30;
}

.wellcomeMessage {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%);
}

/*.centered {
    position: fixed;
    top: 45%;
    left: 40%;
}*/
